/packages/effect/                  @mikearnaldi
/packages/cli/                     @IMax153
/packages/experimental/            @tim-smart
/packages/opentelemetry/           @tim-smart
/packages/platform/                @tim-smart
/packages/platform-browser/        @tim-smart
/packages/platform-bun/            @tim-smart
/packages/platform-node/           @tim-smart
/packages/platform-node-shared/    @tim-smart
/packages/printer/                 @IMax153
/packages/printer-ansi/            @IMax153
/packages/rpc/                     @tim-smart
/packages/rpc-http/                @tim-smart
/packages/schema/                  @gcanti
/packages/sql/                     @tim-smart
/packages/sql-mssql/               @tim-smart
/packages/sql-mysql2/              @tim-smart
/packages/sql-pg/                  @tim-smart
/packages/sql-sqlite-bun/          @tim-smart
/packages/sql-sqlite-node/         @tim-smart
/packages/sql-sqlite-react-native/ @tim-smart
/packages/sql-sqlite-wasm/         @tim-smart
/packages/typeclass/               @gcanti
/packages/vitest/                  @mikearnaldi
