coverage/
*.tsbuildinfo
node_modules/
.ultra.cache.json
.DS_Store
tmp/
build/
dist/
.direnv/

# files
/src/tsconfig.json
/dist
/internal
/BigInt
/Boolean
/Brand
/Cache
/Cause
/Channel
/ChannelChildExecutorDecision
/ChannelMergeDecision
/ChannelMergeState
/ChannelMergeStrategy
/ChannelSingleProducerAsyncInput
/ChannelUpstreamPullRequest
/ChannelUpstreamPullStrategy
/Chunk
/Clock
/Config
/ConfigError
/ConfigProvider
/ConfigProviderPathPatch
/ConfigSecret
/Console
/Context
/Data
/DefaultServices
/Deferred
/Differ
/Duration
/Effect
/Effectable
/Either
/Encoding
/Equal
/Equivalence
/ExecutionStrategy
/Exit
/Fiber
/FiberId
/FiberRef
/FiberRefs
/FiberRefsPatch
/FiberStatus
/Function
/GlobalValue
/GroupBy
/HKT
/Hash
/HashMap
/HashSet
/Inspectable
/KeyedPool
/Layer
/List
/LogLevel
/LogSpan
/Logger
/Match
/Metric
/MetricBoundaries
/MetricHook
/MetricKey
/MetricKeyType
/MetricLabel
/MetricPair
/MetricPolling
/MetricRegistry
/MetricState
/MutableHashMap
/MutableHashSet
/MutableList
/MutableQueue
/MutableRef
/NonEmptyIterable
/Number
/Option
/Order
/Ordering
/Pipeable
/Pool
/Predicate
/PubSub
/Queue
/Random
/ReadonlyArray
/ReadonlyRecord
/RedBlackTree
/Ref
/Reloadable
/Request
/RequestBlock
/RequestResolver
/Resource
/Runtime
/RuntimeFlags
/RuntimeFlagsPatch
/STM
/Schedule
/ScheduleDecision
/ScheduleInterval
/ScheduleIntervals
/Scheduler
/Scope
/ScopedCache
/ScopedRef
/Sink
/SortedMap
/SortedSet
/Stream
/StreamEmit
/StreamHaltStrategy
/Streamable
/String
/Struct
/SubscriptionRef
/Supervisor
/Symbol
/SynchronizedRef
/TArray
/TDeferred
/TMap
/TPriorityQueue
/TPubSub
/TQueue
/TRandom
/TReentrantLock
/TRef
/TSemaphore
/TSet
/Take
/TestAnnotation
/TestAnnotationMap
/TestAnnotations
/TestClock
/TestConfig
/TestContext
/TestLive
/TestServices
/TestSized
/Tracer
/Tuple
/Types
/Unify
/Utils
