coverage/
*.tsbuildinfo
node_modules/
yarn-error.log
.ultra.cache.json
.DS_Store
tmp/
build/
dist/
.direnv/

# files
/dist
/Bigint
/Either
/HashMap
/MutableRef
/Predicate
/Symbol
/Boolean
/Encoding
/HashSet
/NonEmptyIterable
/ReadonlyArray
/Tuple
/Brand
/Equal
/Inspectable
/Number
/ReadonlyRecord
/Types
/Chunk
/Equivalence
/List
/Option
/RedBlackTree
/Unify
/Context
/Function
/MutableHashMap
/Order
/SortedMap
/Utils
/Data
/GlobalValue
/MutableHashSet
/Ordering
/SortedSet
/Differ
/HKT
/MutableList
/String
/Duration
/Hash
/MutableQueue
/Pipeable
/Struct
/Cache
/Hub
/Request
/Cause
/KeyedPool
/RequestBlock
/Clock
/Layer
/RequestResolver
/LogLevel
/Resource
/Config
/LogSpan
/Runtime
/ConfigError
/Logger
/RuntimeFlags
/ConfigProvider
/Metric
/RuntimeFlagsPatch
/ConfigProviderPathPatch
/MetricBoundaries
/Schedule
/ConfigSecret
/MetricHook
/ScheduleDecision
/Console
/MetricKey
/ScheduleInterval
/DefaultServices
/MetricKeyType
/ScheduleIntervals
/Deferred
/MetricLabel
/Scheduler
/Effect
/MetricPair
/Scope
/ExecutionStrategy
/MetricPolling
/ScopedCache
/Exit
/MetricRegistry
/ScopedRef
/Fiber
/MetricState
/Supervisor
/FiberId
/Pool
/SynchronizedRef
/FiberRef
/Queue
/Tracer
/FiberRefs
/Random
/FiberRefsPatch
/Ref
/FiberStatus
/Reloadable
